[Unit]
Description=gassi.cuong.net
Documentation=https://github.com/tranmh/gassigeher
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/gassigeher_prod/gassi.cuong.net
ExecStart=/opt/gassigeher_prod/gassi.cuong.net/gassigeher
Restart=always
RestartSec=5
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=gassi.cuong.net

[Install]
WantedBy=multi-user.target
