[Unit]
Description=gassi.tierheim-goeppingen.de
Documentation=https://github.com/tranmh/gassigeher
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/gassigeher_prod/gassi.tierheim-goeppingen.de
ExecStart=/opt/gassigeher_prod/gassi.tierheim-goeppingen.de/gassigeher
Restart=always
RestartSec=5
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=gassi.tierheim-goeppingen.de

[Install]
WantedBy=multi-user.target
